@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body,
#root {
	height: 100vh;
	width: 100vw;
	background-color: #1b1a55;
}

.custom-scrollbar {
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar {
	display: none;
}
